<!-- Display the header only when the user is signed in -->
<%if(locals.user){ %>  
    <nav class="navbar">
        <button><a href="/">Home</a></button>
        <button><a href="/users/update-password">Change Password</a></button>  
        <button><%=locals.user.name%></button>
        <button><a href="/users/sign-out">Sign Out</a></button> 
    </nav>
<%}else{%>
    
<%}%>
