<form action="/users/change-password" method="POST">
    <label for="current-password">Current Password</label>
    <input type="password" name="password" id="current-password">
    <label for="new-password">New Password</label>
    <input type="password" name="new_password" id="new-password">
    <label for="confirm-password">Confirm New Password</label>
    <input type="password" name="confirm_password" id="confirm-password">
    <input type="submit" value="Change Password">
</form>